<h1>WELCOME!!!!</h1>

<%= link_to "Customer Sign Up", "customers#new_path" %><br>
<%= link_to "Employee Sign Up", employees_path %><br>

<%= link_to "Customer Log In", customers_path %><br>
<%= link_to "Employee Log In", employees_path %><br>