<h1>Employee Info</h1>

    <ul>
        <li>Name: <%= @employee.first_name + " " + @employee.last_name %></li>
        <li>Email: <%= @employee.email %></li>
        <li>Specialty: <%= @employee.specialty %></li>
    </ul>



