<h1>Jobs</h1>


<ul>
<li>Location: <%= @job.location %></li>
<li>Task: <%= @job.task %></li>

    <% if @job.completed == true %>
<li>Job Complete</li>
</ul>
<% end %>
<br>
<br>
<%= link_to "See All Jobs", customer_jobs_path(@job) %><br>
<%= link_to "Create a New Job", new_customer_job_path(@job) %>
